@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  width: 1200px;
  height: 450px;
  padding: 12px;
}

.container-list {
  width: 25%;
  height: 100%;
  padding: 12px;
  row-gap: 8px;
}

.list-title {
  text-align: center;
}

.list-card {
  gap: 6px;
  overflow: auto;
}

.add-button {
  gap: 8px;
}
